xml/ejercicio1-1.dtd

<!ELEMENT programa (nombre, url, url-portada<xs:element name="asignatura"><xs:element name="asignatura">, emision+)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT url (#PCDATA)>
<!ELEMENT url-portada (#PCDATA)>
<!ELEMENT emision (titulo, fecha, tiempo-emision, url)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT tiempo-emision (#PCDATA)>
<!ATTLIST programa
	identificador CDATA #REQUIRED>